body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #868E96;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 90%;
    height: 70vh;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-area-container {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f7f9fc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.text-area-container textarea {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    color: #333;
    background-color: #e9eff6;
    resize: none;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.text-area-container textarea:focus {
    outline: none;
    background-color: #e1e7ef;
}

.buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.primary-button, .secondary-button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 48%;
}

.primary-button {
    background-color: #4a90e2;
    color: #fff;
}

.primary-button:hover {
    background-color: #357abd;
}

.secondary-button {
    background-color: #d2dbf1;
    color: #4a4a4a;
}

.secondary-button:hover {
    background-color: #b0bcd8;
}

.note {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.output-container {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaf0f7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.output-container textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    color: #333;
    background-color: #ffffff;
    resize: none;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.output-container textarea:focus {
    outline: none;
    background-color: #f7f9fc;
}

.output-container button {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4a90e2;
    color: #fff;
}

.output-container button:hover {
    background-color: #357abd;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

footer a {
    text-decoration: none;
    color: #F6F6F6;
    font-size: 12px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Imagen superior izquierda */
.logo {
    max-width: 100px;
    max-height: 50px;
    display: block;
    top: 25px;
    left: 25px;
    margin: 0;
    margin-bottom: 10px;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* ... */
    .container {
        flex-direction: column;
        width: 95%;
        height: auto;
        box-shadow: none;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 50px;
    }

    .text-area-container {
        flex: 1;
        padding: 20px; /* Aumentar padding para que el contenedor de texto superior sea más grande verticalmente */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20 px;
    }

    .text-area-container textarea {
        height: 30vh; /* Ajustar altura del textarea para que sea más grande */
        border: none;
        
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        align-items: center; /* Centrar los botones */
    }

    .primary-button, .secondary-button, .output-container button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        text-align: center; /* Centrar el texto de los botones */
    }

    .titulo {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center; /* Centrar el título */
    }

    .output-container {
        flex: 1;
        padding: 20px;
        border-radius: 10px;
        text-align: center; /* Centrar el contenido del contenedor inferior */
    }

    .output-container textarea {
        height: 30vh; /* Ajustar altura del textarea para que sea más grande */
    }

    footer {
        padding: 10px;
        text-align: center; /* Centrar el footer */
        max-width: 90%;
        margin-top: 0;
        clear: both;
    }

    .logo {
        max-height: 50px;
        max-width: 100px;
        margin-bottom: 20px;
        display: block;
        margin: 0 auto;
     } /* Agregar espacio entre el logo y el footer */
}
